* {
    font-family: Arial, Helvetica, sans-serif;
}

.items {
    width: 70%;
    margin: 40px auto;
    font-size: 20px;
}

.menu1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu2 {
    color:blue;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.menu2:hover a {
    color:red;
}

.menu2 > a {
    text-decoration: none;
}

ul.menu1 > li{
    margin: auto 0 10px 10px;
}

.menu3 {
    text-decoration: underline;
}

.textcolor1 {
    color: red;
}

.textcolor2 {
    color:blueviolet;
}

.textcolor3 {
    color: orange;
}

.textcolor4 {
    background-color: gold;
}

.font1 {
    font-style: italic;
}

.items > div > img{
    width: 30%;
}

.items > div {
    margin-top: 5px;
    align-items: center;
}