.payment {
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    line-height: 40px;
}
.color1{
    color: red;
}
.img1 > img{
    max-width: 15%;
    padding: 10px;
    height: auto;
}
.img1{
    align-items: center;
    border: 1px solid #333;
}
.img1 > p{
    padding-left: 20px;
}

.search-ani{
    animation: search 1s infinite;
}

@keyframes search{
    from{
        color: black;
    }
    to{
        color: orange;
    }
}

body {
    background: #fff;
}

@media all and(max-width: 1200px)
{
    body{
        background: #e7e7e7;
    }
}
